syntax = "proto3";
package {{ parent_package }}{{ name }};
option go_package = "./{{ package_go }}_pb";

service {{ name_upper }} {
    rpc Square (Message) returns (Message){}
    rpc RangeSquare (Message) returns (stream Message){}
    rpc SumSquare (stream Message) returns (Message){}
    rpc StreamrangeSquare (stream Message) returns (stream Message){}
}
message Message {
    double Message = 1;
}